@import "tailwindcss";

@theme {
  /* Neutral */
  --color-neutral-900: #101010;
  --color-neutral-800: #1f1f1f;
  --color-neutral-700: #313131;
  --color-neutral-600: #3c3b40;
  --color-neutral-500: #676767;
  --color-neutral-400: #898a8b;
  --color-neutral-300: #b7b7b7;
  --color-neutral-0: #ffffff;

  /* Orange */
  --color-orange-400: #ff5722;
  --color-orange-500: #eb430e;
  --color-orange-700: #b92b09;
  --color-orange-800: #903014;

  /* Green */
  --color-green-500: #4ade80;
  --color-green-900: #1a3d2b;

  /* Red */
  --color-red-500: #ef4444;
}
